.footer {
  height: 10%;
  background-color: rgba(0, 103, 163, 1);
  color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  padding-top: 10px;
}
/* .active {
} */
.txt {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.09px;
}
.tasksCount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  font-family: Roboto;
  font-size: 18px;
  line-height: 21px;
}
@media (max-width: 1199px) {
  .footer {
    flex-direction: column;
  }
  .tasksCount {
    width: 90%;
  }
}
